<div class="wrapper">

  <div  class="confidence" *ngIf="confidence">
    Confidence level in recognition is <span [style.color]="confidence < 80? 'red': 'green'">{{confidence}}</span> %
  </div>
  <div  class="confidence" *ngIf="confidence>=80">
    Excellent!!! we were able to recognize most of the text in your image
  </div>
  <div  class="confidence" *ngIf="confidence<80">
    Remember that the clearer the image, the better the confidence percentage
  </div>

  <span class="inputfileup">
    <input
      (change)="changeFunc($event)"
      type="file"
      name="inputfileup"
      id="inputfileup"
      class="fileup"
    />
  </span>

  <label for="inputfileup">
    <div class="indicador" *ngIf="imageFileName">
      <span>{{imageFileName}}</span>
    </div>
    <div class="indicador" *ngIf="!imageFileName">
      <span>Upload Image</span>
    </div>
  </label>

  <div class="noImage" *ngIf="!showBlock">
    <img
      class="uploadGif"
      src="assets/images/Upload-PNG.png"
      alt="upload icon"
    />
    <p>Click on the button above</p>
    <p>and select an image to process it</p>
  </div>

  <div class="OCR-container" *ngIf="showBlock">
    <div class="textResult" *ngIf="showBlock">
      <app-output-text></app-output-text>
    </div>
    <div class="wrapper-sections" *ngIf="showBlock">
      <div class="in-wrapper">
        <ng-container *ngIf="true">
          <canvas #outputImage class="canvas-overlay"></canvas>
          <img
            id="imgPrevQuick"
            (load)='loadedImage()'
            #inputImage
            class="input-image"
            src=''
          />
        </ng-container>
        <div *ngIf="image" class="in-wrapper">
          {{image}}
        </div>
      </div>
    </div>
  </div>

</div>

<app-ocrloading
  [statusProcess]="statusProcess"
  [loadingPercentage]="loadingPercentage"
></app-ocrloading>
