.wrapper{
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.575);
  color: #9ac8df;
  z-index: 5;

  .menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 5px 0 5px;
    padding: 0;

    .menu-item{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: .8rem;
      padding: 5px;
      margin-left: 10px;

      .fa-scroll{
        font-size: 20px;
      }
    }
  }
}


