<div class="wrapper">

  <ul class="menu">
    <li class="menu-item">
      <span [routerLink]="['']"><i class="fab fa-fort-awesome-alt"></i></span>
    </li>
    <li class="menu-item">
      <span [routerLink]="['']">Home</span>
    </li>
    <li class="menu-item">
      <span [routerLink]="['quick-ocr']">Quick-OCR</span>
    </li>
    <li class="menu-item">
      <span [routerLink]="['ocr-main']">Ocr Main</span>
    </li>
  </ul>

  <ul class="menu">
    <li class="menu-item" [routerLink]="['user-auth']"><span>Login</span></li>
    <li class="menu-item" [routerLink]="['user-auth']"><span>Registro</span></li>
  </ul>
</div>
