<div class="wrapper">
  <form [formGroup]="form" class="registerForm">

    <div class="header">
      <h1>Register</h1>
      <hr>
      <p>Create your account. It's free and only takes a minute.</p>
    </div>

    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="name"
        placeholder="Name"
        formControlName="name"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Your Name is required</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="text"
        name="lastName"
        placeholder="Last Name"
        formControlName="lastName"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Your Last Name is required</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="email"
        name="email"
        placeholder="E-mail"
        formControlName="email"
        [email]="true"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Please enter a valid E-mail</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="password"
        name="password"
        placeholder="Password"
        formControlName="password"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Password is required</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <input
        matInput
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        required
      >
      <mat-error>
        <span class="form_error">
          <strong>*Please confirm your password</strong> <br>
          <strong>Or the password does not match the Confirmed one</strong>
        </span>
      </mat-error>
    </mat-form-field>

    <button class="submit" mat-raised-button type="submit" (click)="onSubmit()">Sign Up</button>

    <div class="toLogin">
      Back to
      <span [routerLink]="['/login']">
        Log-in
      </span>
    </div>
  </form>
</div>

<app-loadwarnings
  *ngIf="modal"
  [okWarning]="okWarning" [errorWarning]="errorWarning"
  (deactivateErrorMessage)="modalOff($event)"
></app-loadwarnings>
