<div class="wrapper">
  <div class="container">
    <div class="column1" [routerLink]="['quick-ocr']">
      <div class="quickOcr">
        <i class="far fa-file-alt"></i>
        OCR Quick Version
      </div>
      <ul class="characteristics">
        <li class="item">
          - No need to Login
        </li>
        <li class="item">
          - Load an Image without saving it
        </li>
        <li class="item">
          - Get the text and copy it
        </li>
      </ul>
    </div>

    <div class="column2" (click)="chooseRoute()">
      <div class="fullOcr">
        <i class="fas fa-file-alt"></i>
        OCR Full Version
      </div>
      <ul class="characteristics">
        <li class="item">
          - Create your Account
        </li>
        <li class="item">
          - Upload an image and save it
        </li>
        <li class="item">
          - Select to scan your image
        </li>
        <li class="item">
          - Get the text and copy it
        </li>
        <li class="item">
          - Your saved images will be available whenever you log in
        </li>
      </ul>
    </div>
  </div>
</div>
