<div class="wrapper">
  <div class="container">
    <div class="column1" [routerLink]="['quick-ocr']">
      <div class="quickOcr">
        <i class="far fa-file-alt"></i>
        Quick OCR
      </div>
      <ul class="characteristics">
        <i class="item">
          characteristic 1
        </i><i class="item">
          characteristic 2
        </i>
        <i class="item">
          characteristic 3
        </i>
      </ul>
    </div>
    <div class="column2" [routerLink]="['ocr-main']">
      <div class="fullOcr">
        <i class="fas fa-file-alt"></i>
        Full OCR
      </div>
      <ul class="characteristics">
        <i class="item">
          characteristic 1
        </i><i class="item">
          characteristic 2
        </i>
        <i class="item">
          characteristic 3
        </i>
      </ul>
    </div>
  </div>
</div>
