<div
  class="wrapper"
  [style.height]="(openSideBar)? '97%':'0%'"
  [style.width]="(openSideBar)? '99%':'0%'"
  [style.visibility]="(openSideBar)? 'visible':'hidden'"
>

  <div class="confidenceCont">
    <div  class="confidence" *ngIf="confidence">
      Confidence level in recognition is
      <span [style.color]="confidence < 80? 'red': 'green'">
        {{confidence}}
      </span> %
    </div>
    <div  class="confidence" *ngIf="confidence>=80">
      Excellent!!! we were able to recognize most of the text in your image
    </div>
    <div  class="confidence" *ngIf="confidence<80">
      Remember that the clearer the image, the better the confidence percentage
    </div>
  </div>

  <div class="infoCont" *ngIf="image">
    <div class="textResult">
      <app-output-text></app-output-text>
    </div>
    <div class="wrapper-sections">
      <div class="in-wrapper">
        <ng-container *ngIf="true">
          <canvas #outputImage class="canvas-overlay"></canvas>
          <img
            *ngIf="image"
            id="imgPrev"
            (load)='loadedImage(image)'
            #inputImage
            class="input-image"
            src="{{image}}"
          >
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-btn">
  <button (click)="toggleMenu()">
    <i class="fas fa-angle-double-down"  *ngIf="!openSideBar"></i>
    <i class="fas fa-angle-double-up" *ngIf="openSideBar"></i>
  </button>
</div>

<app-ocrloading
  [statusProcess]="statusProcess"
  [loadingPercentage]="loadingPercentage"
></app-ocrloading>
