<div class="wrapper">

  <form #loginForm= "ngForm" (ngSubmit)="onSubmitlogin(loginForm)" >
    <input type="email"
           name="email"
           #email="ngModel"
           [(ngModel)]="user.email"
           placeholder="E-mail"
           required
    >
    <input type="password"
           name="password"
           #password="ngModel"
           [(ngModel)]="user.password"
           placeholder="Password"
           required
    >
    <input type="password"
           name="password2"
           #password2="ngModel"
           [(ngModel)]="confirm"
           placeholder="Confirm Password"
           required
    >
    <p class="warnning" *ngIf="passwordWarn">
      La contraseña no coincide con la Confirmada
    </p>
    <input class="submit"
           type="submit"
           value="Login"
    >
    <div class="toSignUp">
      Aun No estas registrado? da click
      <span [routerLink]="['/signUp']">
        Aqui !!!
      </span>
    </div>
  </form>
</div>
