<div class="wrapper">
  <form #loginForm= "ngForm" (ngSubmit)="onSubmitlogin(loginForm)" >
    <input
      type="email"
      name="email"
      #email="ngModel"
      [(ngModel)]="user.email"
      placeholder="E-mail"
      [email]="true"
      required
    >
    <span class="form_error" *ngIf="email.touched && !email.valid ">
      <strong>*Please enter a valid E-mail</strong>
    </span>

    <input
      type="password"
      name="password"
      #password="ngModel"
      [(ngModel)]="user.password"
      placeholder="Password"
      required
    >
    <span class="form_error" *ngIf="password.touched && !password.valid ">
      <strong>*Password is required</strong>
    </span>

    <input
      type="password"
      name="passwordConfirm"
      #passwordConfirm="ngModel"
      [(ngModel)]="confirm"
      placeholder="Confirm Password"
      required
    >
    <span class="form_error" *ngIf="passwordConfirm.touched && !passwordConfirm.valid ">
      <strong>*Please confirm your password</strong>
    </span>

    <input
      class="submit"
      type="submit"
      value="Login"
    >

    <div class="toSignUp">
      Still not registered? click
      <span [routerLink]="['/signUp']">
        Here !!!
      </span>
    </div>
  </form>
</div>

<app-loadwarnings
  *ngIf="modal"
  [okWarning]="okWarning"
  [errorWarning]="errorWarning"
  (deactivateErrorMessage)="modalOff($event)"
></app-loadwarnings>
