.wrapper{
  display: flex;
  flex-direction: column;
  padding: 1rem;

  form{
    padding-top: 20px;
    min-height: 200px;
    border: 1px solid red;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    justify-content: space-between;

    #imgPrevSave{
      width:100%;
      display: block;
      border: 1px solid black;
      align-self: center;
    }

    .inputCont{
      display: flex;
      flex-direction: column;
      border: 1px solid rebeccapurple;
    }


  }

  .savedImages{
    width: 100%;
    border: 1px solid yellowgreen;
    overflow-x: scroll;

    p{
      text-align: center;
    }

    .list-file{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;


      .block{
        cursor: pointer;
        margin: .5rem;
        background-color: whitesmoke;
        width: 10rem;
        height: 10rem;
        box-shadow: 0 10.7px 17.9px -6px rgba(0, 0, 0, 0.12),
        0 27.7px 47.1px -6px rgba(0, 0, 0, 0.066),
        0 101px 80px -6px rgba(0, 0, 0, 0.047);
        border-radius: .15rem;
        //border: 1px solid red;

        img{
          width: 100%;
          height: 100%;
          //object-fit: cover;
          object-fit: contain;
        }


      }
    }
  }
}
#preview{
  margin-top: 100px;
}
#imgPrev{
  width: 150px;
}
