.wrapper{
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;

  @import './styles/form.scss';

  @import './styles/savedImages.scss';
}

@media screen and(max-width:550px) {
  .wrapper{
    padding: 5rem 0rem;

    #preview{
      margin-top: 100px;
    }

    #imgPrev{
      width: 150px;
    }
  }
}
