.wrapper{
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;

  form{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(27, 0, 51, 0.822);
    box-shadow: 0 0px 30px rgba(0, 177, 247, 0.616);

    #noImage{
      width: 95%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      font-size: 12px;
      text-align: center;
      word-wrap: break-word;
      border-radius: 5px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.521);
      margin-top: 5px;
      padding: 0 5px;
    }

    #imgPrevSave{
      width:100%;
      display: block;
      border-radius: 5px;
    }

    .inputCont{
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      input[type=file]#uploadImg {
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        z-index: -1;

      }

      label[for="uploadImg"],input[type=submit] {
        display: block;
        width: 100%;
        background-color: #000000;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        padding: 5px 0;
        margin: 15px auto 0px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        transition: all .5s;
        overflow: hidden;

        .indicador{
          width: 150px;
          max-width: 200px;
          display: block;
          overflow: hidden;
          margin: 0px auto;
        }
      }

      input[type=text]{
        width: 90%;
        background: rgba(0, 0, 0, 0);
        color: whitesmoke;
        margin:5px auto 0;
        border: none;
        border-bottom: 1px solid whitesmoke;
        outline: none;
      }

      input[type=submit]{
        margin-top: 5px;
      }

      input[type=submit]:hover,
      label[for="uploadImg"]:hover{
        background: rgba(0, 177, 247, 0.616);
        box-shadow: 0 0px 30px rgba(0, 177, 247, 0.616);
        text-shadow: 2px 2px 3px black;
      }
    }
  }

  .savedImages{
    width: 100%;
    height: 360px;

    p{
      text-align: center;
    }

    .deleteWarn{
      color: red;
    }

    .list-file{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;

      .item-file{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .trash{
          color: rgb(206, 206, 206);
          margin-right: 10px;
        }

        .trash:hover{
          color: red;
        }

        .block{
          width: 10rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin: .1rem .5rem .5rem;
          background-color: rgba(0, 0, 0, 0.548);
          border-radius: 5px;
          box-shadow: 0 10.7px 17.9px -6px rgba(0, 0, 0, 0.12),
            0 27.7px 47.1px -6px rgba(0, 0, 0, 0.066),
            0 101px 80px -6px rgba(0, 0, 0, 0.047)
          ;

          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          p{
            font-size: 12px;
            line-height: 0px;
          }
        }

        .block:hover{
          box-shadow: 0 0px 30px rgba(0, 177, 247, 0.616);
        }
      }
    }
  }

  @media screen and(max-width:550px) {
    form{
      margin: 0 auto;
    }
  }
}

@media screen and(max-width:550px) {
  .wrapper{
    padding: 5rem 0rem;

    #preview{
      margin-top: 100px;
    }

    #imgPrev{
      width: 150px;
    }
  }
}
