<div id="wrapper" class="wrapper">
  <app-side-bar></app-side-bar>
  <form [formGroup]="form" class="UploadImageForm">
    <div id="noImage" *ngIf='!srcLoad'>
      Preview
    </div>
    <img id="imgPrevSave">
    <div class="inputCont">
      <input
        matInput
        type="text"
        name="documentName"
        placeholder="Document Name"
        formControlName="documentName"
        required
      >

      <input
        matInput
        type="text"
        name="documentType"
        placeholder="Document Type"
        formControlName="documentType"
        required
      >

      <label for="uploadImg">
        <div class="indicador" *ngIf="imageFileName">
          <span>{{imageFileName}}</span>
        </div>
        <div class="indicador" *ngIf="!imageFileName">
          <span>Select an Image</span>
        </div>
      </label>

      <input
        id="uploadImg"
        (change)="imageLoaded($event)"
        type="file"
        name="image"
      >

      <button class="submit" type="submit" (click)="onSubmit()">Save</button>
    </div>
  </form>

  <div class="savedImages" [style.display]="(localDBEmpty)? 'block':'none'">
    <button type="button" class="btn-sync" [disabled]="!localDBEmpty" (click)="syncLocal()">Sync{{status | json}}</button>
    <p>
      These Images are Saved in your local Storage:
    </p>
    <p>
      When your Internet connection is back push the Sync Button to save your images to the server
    </p>
    <ul class="list-file" >
      <li class="item-file" *ngFor="let item of localSavedImages">
        <div class="trash" (click)="deleteImageLocal(item)">
          <i class="fas fa-trash-alt"></i>
        </div>
        <div class="block" (click)="clickImage({src:item.src})">
          <img
            id="imageToLoad"
            class="input-image"
            *ngIf="item.imageName"
            src="{{item.src}}"
          >
          <p>{{item.documentName}}</p>
          <p>{{item.documentType}}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="savedImages">
    <p *ngIf="!startTitle">
      The images you save will appear here
    </p>
    <p *ngIf="startTitle">
      Select an Image that you have saved to process it
    </p>
    <ul class="list-file" >
      <li class="item-file" *ngFor="let item of savedImages">
        <div class="trash" (click)="deleteImagesData(item._id)">
          <i class="fas fa-trash-alt"></i>
        </div>
        <div class="block" (click)="clickImage({src:item.imageName})">
          <img
            id="imageToLoad"
            class="input-image"
            *ngIf="item.imageName"
            src="https://ocr-angular-app.s3.us-east-2.amazonaws.com/{{item.imageName}}"
          >
         <p>{{item.documentName}}</p>
         <p>{{item.documentType}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-loadwarnings
  *ngIf="modal"
  [okWarning]="okWarning"
  [errorWarning]="errorWarning"
  (deactivateErrorMessage)="modalOff($event)"
></app-loadwarnings>
